@model TTTStatisticsLibrary.FullStatistics
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table>
        <tr>
            <th>Дата и время игры</th>
            <th>Число ходов</th>
            <th>Игрок за крестики</th>
            <th>Игрок за нолики</th>
            <th>Результат игры</th>
        </tr>
        @foreach (var statistic in Model.StatisticsList)
        {
            <tr>
                <td>@statistic.GameDate</td>
                <td>@statistic.MovesCount</td>
                <td>@statistic.TicPlayer</td>
                <td>@statistic.TacPlayer</td>
                <td>@statistic.GameResult</td>
            </tr>
        }
    </table>
    <div>Процент побед пользователя: @Model.PlayerWinPercent</div>
</body>
</html>
