@model List<TTTStatisticsLibrary.Statistics>

@{
    ViewBag.Title = "Статистика";
}
<div class="alert alert-info" role="alert">
    Процент побед человека: @ViewBag.HumanPercent%
</div>
<div class="alert alert-info" role="alert">
    Процент побед компьютера: @ViewBag.ComputerPercent%
</div>
<div class="alert alert-info" role="alert">
    Процент побед крестиков: @ViewBag.TicPercent%
</div>
<div class="alert alert-info" role="alert">
    Процент побед ноликов: @ViewBag.TacPercent%
</div>
<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <th>Дата и время игры</th>
            <th>Число ходов</th>
            <th>Игрок за крестики</th>
            <th>Игрок за нолики</th>
            <th>Результат игры</th>
        </tr>
        @foreach (var statistic in Model)
        {
            <tr>
                <td>@statistic.GameDate</td>
                <td>@statistic.MovesCount</td>
                <td>@statistic.TicPlayer</td>
                <td>@statistic.TacPlayer</td>
                <td>@statistic.GameResult</td>
            </tr>
        }
    </table>
</div>